<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    {{> header}}
    <p>Some Text Here</p>
    <p>{{screamIt pageTitle}}</p>
  {{> footer}}
  </body>
</html>
